<div class=contentBody>
  <aside class="sidebar">
      <h1> My Collection </h1>
      <%if current_user %>
        <p> Welcome <%= current_user.email %></p>
          <%= image_tag "IMG_5530.jpg", class: "shelf" %>
      <% else %>
        <p> Please log-in to see this page!</p>
      <% end %>
  </aside>
  <main class="mainContent">
    <h1>Existing Records</h1>
    <br>
    <div class="flex_container">
      <%if current_user.albums.any?%>
        <% current_user.albums.each do |album| %>
          <ul> 
            <li class="flex-item">
               
            <a href="<%=album.link%>" target="_blank"><img src="<%=album.cover_image%>" alt=""></a></li>
            <h4><%= album.artist %></h4>
            <p><%= album.name %></p>
            <%= button_to "delete album", album_path(album.id), method: :delete  %>
            
          </ul>
        <% end %>
      <% else %>
        <p>There are no albums yet.</p>
      <% end %>
    </div>
  </main>
</div>