
  <div class="homepage" style="display: flex;">
      <!-- Left content -->
    <div class="panel" style="flex: 1;">
      <%= image_tag "logo.png", class: "main_logo" %>
      <h3> Welcome to ReCollector blah blah blah blah blerg.</h3>
    </div>

    <!-- Right content -->
    <div class="panel2" style="flex: 1;">
          <h3>Our Featured Artist: </h3>
      <h4> <%= @artist_name %></h4>
        <ul>
          <li><img src="<%= @photo %>"></li>
          <li><%= @artist_profile %> </li>
          <br>
          <li>Find out more about <a href='<%= @artist_link %>'> <%= @artist_name %></a> & see all of her <a href = "<%= @artist_albums %>"> albums</a></li>
        </ul>
    </div>
  </div>
</div>
