<%# FROM BACK END %>
<%# <% if @albums.any? %>
  <%# <%@albums.each do |album|%> %>
    <%# <p>Album Name: <%= album.name %></p> %>
    <%# Artist : <%= album.artist %> %>
    <%# Cover Image: <%= album.cover_image %> %>
  <%# <% end %> %>
<%# <% else %> %>
  <%# there are currently no albums to list! %>
<%# <% end %> %> %>

<%# FROM FRONT END %>

  <div class=contentBody>
    <aside class="sidebar">
        <h1> My Collection </h1>
        <%if current_user %>
          <p> Welcome <%= current_user.email %></p>
            <%= image_tag "IMG_5530.jpg", class: "shelf" %>
        <% else %>
          <p> Please log-in to see this page!</p>
        <% end %>
         <%= link_to "edit collection", edit_collection_path %>
    </aside>

    <main class="mainContent">
      <h1>Existing Records</h1>
      <br>
        <%if current_user.albums.any?%>
          <% current_user.albums.each do |album| %>
              <ul> 
                <div class="flex_container">
                  <li class="flex-item">
                  <a href="<%=album.link%>" target="_blank"><img class="cover" src="<%=album.cover_image%>" alt=""></a></li>
                  <h4><%= album.artist %></h4>
                  <p><%= album.name %></p>
                </div>
              </ul>
          <% end %>
        <% else %>
          <p>There are no albums yet.</p>
        <% end %>
    </main>
  </div>
<%# </div> %>

<%# 
    <%= form_tag(albums_path, method:get) do %>
        <%# <%= text_field_tag(:search, params[:search]) %>
        <%# <%= submit_tag (Search) %> 
    <%# <% end %> 

    <%# <% @album.each do |album| %>
    <%# <ul> %>
        <%# <li> <%= link_to ... %> 
    <%# </ul> %>
    <%# <% end %> 
