<div class=contentBody>
<aside class="sidebar">
    <h1> My Collection </h1>
    <p> Welcome <%= current_user.email %></p>
        <%= image_tag "IMG_5530.jpg" %>
</aside>

<main class="mainContent">
<h1> Search and add items to your collection:</h1>
<br>
<div class="flex_container">
     <%if @albums.any?%>
    <% @albums.each do |album| %>
   <ul> 
     <li class="flex-item"><%= album.name %></li> 
     <% end %>
  </ul>
   <% else %>
            <p>There are no products yet.</p>
          <% end %>
</div>


<%# 
    <%= form_tag(albums_path, method:get) do %>
        <%# <%= text_field_tag(:search, params[:search]) %>
        <%# <%= submit_tag (Search) %> 
    <%# <% end %> 

    <%# <% @album.each do |album| %>
    <%# <ul> %>
        <%# <li> <%= link_to ... %> 
    <%# </ul> %>
    <%# <% end %> 
</main>
</div>