<%# FROM BACK END %>
<%# <% if @albums.any? %>
  <%# <%@albums.each do |album|%> %>
    <%# <p>Album Name: <%= album.name %></p> %>
    <%# Artist : <%= album.artist %> %>
    <%# Cover Image: <%= album.cover_image %> %>
  <%# <% end %> %>
<%# <% else %> %>
  <%# there are currently no albums to list! %>
<%# <% end %> %> %>

<%# FROM FRONT END %>
<div class="back">
  <div class="contentBody">
    <aside class="sidebar">
        <h1> My Collection </h1>
        <%if current_user %>
          <p> Welcome <%= current_user.email %></p>
            <%= image_tag "IMG_5530.jpg" %>
        <% else %>
          <p> Please log-in to see this page!</p>
        <% end %>
    </aside>

    <main class="mainContent">
      <h1>Existing Records</h1>
      <br>
      <div class="flex_container">
        <%if @albums.any?%>
          <% @albums.each do |album| %>
            <ul> 
              <li class="flex-item"><%= link_to "#{album.name}", album_path("#{album.id}") %> <% album.id %></li> 
            </ul>
          <% end %>
        <% else %>
          <p>There are no albums yet.</p>
        <% end %>
      </div>
    </main>
  </div>
</div>

<%# 
    <%= form_tag(albums_path, method:get) do %>
        <%# <%= text_field_tag(:search, params[:search]) %>
        <%# <%= submit_tag (Search) %> 
    <%# <% end %> 

    <%# <% @album.each do |album| %>
    <%# <ul> %>
        <%# <li> <%= link_to ... %> 
    <%# </ul> %>
    <%# <% end %> 
