


<div class=contentBody>

  <aside class="sidebar">
    <%= image_tag "logo.png", class: "cover"%>
    <h1> My Collection </h1>
      <%= image_tag "IMG_5530.jpg", class:"shelf" %>
    
      <%# SCOPING/SORTING DROP DOWN MENU IN SIDEBAR %>
      <br>
      <div class="options">
        <select id="scopes" name="scope" onchange="window.location.href=this.options[this.selectedIndex].value">
          <option value="<%= albums_path %>" selected>Sort by ... </option>
          <option value="<%= albums_path %>?sort=recently_added" name="date">Sort by date added</option>
          <option value="<%= albums_path %>?sort=by_album_name" name="name">Sort by album name</option>
          <option value="<%= albums_path %>?sort=by_artist_name" name="artist">Sort by artist name</option>
        </select>
      </div>

      <br>

      <%# DISPLAY IN SIDEBAR FOR GENRE SELECTION %>
      <div class="genres">
        <% @genre_names.each do |genre| %>
         
         <p><%= link_to genre, albums_path(:genre => genre) %></p>
      
          
        <% end %> 
        <br>
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </div>
      <br>
      <%= link_to "Edit collection", edit_collection_path %>
  </aside>

  <%# DISPLAY OF 'MY COLLECTION' %>
  <main class="mainContent">
    <br>
    <%if @albums.any?%>
      <% @albums.each do |album| %>
        <ul>
          <div class="flex_container">
            <li class="flex-item">
              <a href="<%=album.link%>" target="_blank"><img class="flex-item" class="cover" src="<%=album.cover_image%>" alt=""></a></li>
            <h4><%= album.artist %></h4>
            <p><%= album.name %></p>
          </div>
        </ul>
      <% end %>
    <% else %>
      <p>You don't currently have any albums!</p>
    <% end %>
  </main>

</div>

