<div class = >
  <div class= "header">
    <%= image_tag "logo.png", class: "cover"%>
    
    <div>
    <form class="search">
      <input type="text" class="form-control" name ="search_term" id="search" placeholder="enter search term">
      <br>
      <select class="form-control" name ="type" id="type" required>
        <option type="text" value = "" name="type[nil]">select a search option</option>
        <option type="text" value = "artist" name= "type[artist]">artist</option>
        <option type="text" value = "title" name="type[title]">album</option>
        <option type="text" value = "genre" name="type[genre]">genre</option>
        <option type="text" value = "year" name="type[year]">year</option>
      </select>
      <br>
      <button type= "submit" class= "btn btn-default">Search</button>
    <form>
    </div>
  </div>
  <main class="mainContent">  
    <% if @search_results.any? %>
      <% @search_results.each do |result| %>
        <ul> 
          <div class="flex_container">
            <li class="flex-item">
              <%if result['cover_image'] == nil || result['cover_image'].include?(".gif")%>
                <%result['cover_image'] = "https://www.samsung.com/etc/designs/smg/global/imgs/support/cont/NO_IMG_600x600.png" %>
               <a href="/albums/<%= result['id']%>"> <img class= "cover" src="<%=result['cover_image']%>" alt="<%= result['id'] %>"></a>
              <% else  %>
                 <a href="/albums/<%= result['id'] %>"> <img class= "cover" src="<%=result['cover_image']%>" alt="<%= result['id'] %>"></a>
              <% end %>
            </li>
            <p><%=result['title'] %></p>
          </div>
        </ul>
      <% end %>
    <% end %>
  </main>
</div>



