<%# - album detail page
- tracks & info on album 
- button that 'add to my collection'
when they press the button it 'create!' method for Album & grabs all params needed for creating an album for that users 'collection' -> join table %>
<br><br>
<div class="searchContent">

  <h3>Albums By: </h3> 
  <br>
  <h3> <%= @artist['name']%></h3>
  <br>
  <ul>
    <% if @albums.any? %>
      <%@albums.each do |album|%>
        <ul>
            <li>Album title: <a href="/tracks/<%=album['id']%>"> <%= album['title'] %> </a></li>
            <li>Album year: <%= album['year'] %> </li>
            <li>Album id: <%= album['id'] %></li>
        </ul>
      <% end %>
    <% else %>
     <p> "This artist doesn't currently have any albums"</p>
    <% end %>
  </ul>
</div>